<header class="navbar navbar-static-top" style="background-color:#efefef" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">Project: DGS</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <!--<ul class="nav navbar-nav">
        <li>
          <a href="../getting-started">Getting started</a>
        </li>
        <li>
          <a href="../css">CSS</a>
        </li>
        <li>
          <a href="../components">Components</a>
        </li>
        <li>
          <a href="../javascript">JavaScript</a>
        </li>
        <li>
          <a href="../customize">Customize</a>
        </li>
      </ul>-->
      <ul ng-if="!isAuthenticated" class="nav navbar-nav navbar-right">
        <!--<li><a ui-sref="register">Register</a></li>-->
        <li><a ui-sref="login">Login</a></li>
      </ul>
      <ul ng-if="isAuthenticated" class="nav navbar-nav navbar-right">
        <li class="navbar-text"> {{currentUser.first_name}}  {{currentUser.last_name}}</li>
        <li><a ng-click="logout()">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>