<div ng-controller="LocationsCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Locations</h3>
    </div>
    <div class="panel-body" style="padding:0px">

      <div ng-show="showIndex">
        <div style="padding:10px">
          <div class="pull-left">
            <button class="btn btn-primary" ng-click="newLocationForm()">Add</button>
          </div>
          <div class="pull-right">
            <input type="text" placeholder="Search" class="form-control" ng-model="search" />
          </div>
          <div class="clearfix"></div>
        </div>

        <table class="table table-striped" style="margin-bottom:0px">
          <tr>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Actions</th>
          </tr>
          <tr ng-repeat="location in locations | filter:search"  ng-animate="'animate'">
            <td>{{location.name}}</td>
            <td>{{location.lat}}</td>
            <td>{{location.lng}}</td>
            <td><a href="javascript:;" ng-click="editLocationForm(location)"><span class="fa fa-edit"></span></a></td>
          </tr>
        </table>
        <div style="padding:10px; padding-top:0px">
          <pagination ng-model="page.current" page="page.current" total-items="page.total_items" on-select-page="pageChanged(page)" items-per-page="page.items_per_page"></pagination>
          

        </div>
      </div>
      <div style="padding:10px" ng-hide="showIndex">
        <form name="locationForm" ng-submit="submitForm()" role="form" novalidate>
          <div class="form-group" ng-class="{ 'has-error' : locationForm.name.$invalid && !locationForm.name.$pristine }">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="currentLocation.name" required>
            <p ng-show="locationForm.name.$invalid && !locationForm.name.$pristine" class="help-block">Name is required.</p>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : locationForm.lat.$invalid && !locationForm.lat.$pristine }">
            <label>Latitude</label>
            <input type="text" name="lat" class="form-control" ng-model="currentLocation.lat" required ng-pattern="/^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}/">
            <p ng-show="locationForm.lat.$invalid && !locationForm.lat.$pristine" class="help-block">Enter valid latitude. (e.g. 11.22)</p>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : locationForm.lng.$invalid && !locationForm.lng.$pristine }">
            <label>Latitude</label>
            <input type="text" name="lng" class="form-control" ng-model="currentLocation.lng" required ng-pattern="/^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}/">
            <p ng-show="locationForm.lng.$invalid && !locationForm.lng.$pristine" class="help-block">Enter valid longitude. (e.g. 11.22)</p>
          </div>          
          
          <button ng-show="!isEditing" type="submit" class="btn btn-primary" ng-click="createLocation(currentLocation)" ng-disabled="locationForm.$invalid">Create</button>
          <button ng-show="isEditing" type="submit" class="btn btn-primary" ng-click="updateLocation(currentLocation)" ng-disabled="locationForm.$invalid">Update</button>
          
          <button type="submit" class="btn btn-default" ng-click="cancelLocationForm()">Cancel</button>
        </form>

      </div>
      
    </div>
  </div>

  

</div>